.hero-img {
    width: 100%;
}

body {
    margin: 0;
    background-color: grey;
}

.circles {
    border-radius: 50%;
}

#circle_images img {
    width: 10%;
    border: 6px, solid, black;
    margin: 50px 2%;
}

#circle_images {
    display: flex;
    justify-content: center;
}